<div class="container-fluid" style="border:1px solid yellow;">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md col-xl-3">

    </div>
    <div class="col-6 col-md-4 col-xl-4">
        <div (click)="addLine()">ajout ligne</div>
    </div>
  </div>
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md col-xl-3">
      <div class='col' [dragula]='"main-bag"' id="left" *ngIf="draggables" [(dragulaModel)]="draggables">
        <draggable-component *ngFor="let draggable of draggables" [draggable]="draggable" [attr.data-id]="draggable.name"></draggable-component>
      </div>
    </div>

    <div class="col-12 col-md-9 col-xl-9">
      <div class='container-fluid'>
        <div class='row'>
          <div class='col'>
            <div class="container-fluid">
              <line-component *ngFor="let line of form.lines" [line]="line" [attr.data-id]="line.index"></line-component>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-xl-nowrap">
    <div class="col-12">
      <editor-component></editor-component>
    </div>
  </div>
  <div class="row flex-xl-nowrap">
      <button type="button" (click)="displayHtml()">Afficher HTML</button>
  </div>
  <div>
  </div>
</div>
