<div class='container-fluid'>
  <div class='row'>
      <div class='col' [dragula]='"main-bag"' id="left">

          <draggable *ngFor="let draggable of draggables" [draggable]="draggable" [attr.data-id]="draggable.name"></draggable>

      </div>
      <div class='col'>
        <div class="container-fluid">
          <div class="drop-row row" [dragula]='"main-bag"' id="line-1">
            
          </div>
          <div class="drop-row row" [dragula]='"main-bag"' id="line-2">
            
          </div>
        </div>
      </div>
  </div>
</div>


