<div>
    <div *ngIf="cell" class="container-fluid">
        <div *ngFor="let propertie of cell.getDraggable().properties; let i = index" class="row">
          <div class='col-6'>{{ propertie.key}}</div>
          <div class='col-6'><input type='text' name="{{ propertie.key}}" [(ngModel)]='propertie.value'/></div>
        </div>
    </div>
    <div *ngIf="cell" class="container-fluid">
      <div *ngFor="let value of cell.draggables[0].values">
        <div *ngFor="let values of value.values; trackBy:trackByFn; let index = index" class="row">
            <div class='col-6'>{{ value.key}} {{index}}</div>
            <div class='col-6'><input type='text' [name]="values" [(ngModel)]="value.values[index]"/></div>
          </div>
      </div>
      <div class="row">
        <div class="col-xl-1" (click)="addValue()">ajout valeur</div>
      </div>
  </div>
</div>
